{% load form_tags %}
{% for field in form %}
    <div class="form-group">
        <labe for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field|addcss:'form-control' }}
        <span class="text-danger small">{{ field.errors }}</span>
    </div>
{% endfor %}