#homeSlider {
    margin-top: -20px;
    height: 600px;
    overflow: hidden;
}

#homeSlider img {
    object-fit: cover;
    margin: 0 auto;
}

.article {
    margin-top: 10px;
    margin-bottom: 60px;
}

.article > p {
    margin: 15px;
    font-size: 18px;
    text-align: justify;
}

.article > img {
    max-width: 450px;
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.article:nth-child(2n) > img {
    float: right;
    margin-left: 20px;
}

.article:nth-child(2n + 1) > img {
    float: left;
    margin-right: 20px;
}