{% for article in article_list %}
<div class="col-xs-12 article">
    <h2>{{ article.title }}</h2>
    <hr>
    <img src="{{ article.picture.url }}" alt="{{ article.title }}" class="article-picture" />
    <p>{{ article.article_text }}</p>
</div>
{% endfor %}