<div id="homeSlider" data-ride="carousel" class="carousel slide">
    <div role="listbox" class="carousel-inner">
        {% for carousel_item in carousel_items %}
            {% if forloop.counter == 1 %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <img src="{{ carousel_item.picture.url }}" alt="{{ carousel_item.name }}">
            </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#homeSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>