{% extends '_layout.html' %}
{% block site_title %}Home{% endblock %}

{% block view_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{% load render_partial %}
{% render_partial 'home:home_slider' %}

<div class="content-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    {% include 'home/_articles.html' %}
                </div>
            <div class="col-md-1">&nbsp;</div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_class_ext %}footer-fluid{% endblock %}