{% extends '_layout.html' %}
{% block site_title %}Terms and conditions{% endblock %}
{% block view_css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_management.css' %}">
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="col-md-12"><h2 class="form-header">Terms and Conditions</h2></div>
            <div class="panel-body">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <ul style="list-style-type: none">
                        {% for item in terms_and_conditions %}
                            <li>
                                <h4 style="display: inline-block"><strong>{{ item.number }}.&nbsp;</strong></h4>
                                <h4 style="display: inline-block">{{ item.header }}</h4>
                                <p>{{ item.content }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>

{% endblock %}