.thumbnail {
    position: relative;
    padding-top: 35px;
    text-decoration: none !important;
}

.thumbnail img {
    width: 250px;
    height: 250px;
}

.thumbnail:hover .hover-play-icon {
    opacity: 0.8;
}

.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hover-play-icon {
    position: absolute;
    color: #fff;
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    transition: opacity 0.5s ease-in-out;
}

.hover-play-icon i {
    font-size: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player {
    display: flex;
    justify-content: space-between;
}

.player-audio {
    height: 500px;
}

audio {
    width: 100%;
}

.player-album-logo {
    width: 500px;
    height: 500px;
}

.player-song-title {
    margin-left: 40px;
}

.player-song-info {
    margin-left: 60px;
}

.player-background {
    height: 384px;
    width: 100%;
}

tr {
    cursor: pointer;
}

tr:hover {
    font-weight: bold;
}