{% extends '_layout.html' %}
{% block site_title %}Login{% endblock %}
{% block view_css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_management.css' %}">
{% endblock %}


{% block content %}
<div class="content-container">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="col-md-12"><h2 class="form-header">Sign in</h2></div>
            <div class="panel-body">
                <div class="col-md-5 border-right">
                    <a href="{% url 'users:register' %}" class="btn btn-default btn-lg btn-block">Register new account</a>
                    <h3 class="text-center">Social Sign In</h3>
                    <a href="{% url 'facebook_login' %}" class="btn btn-primary btn-lg btn-block social-button"><i class="fa fa-facebook-official" aria-hidden="true"></i> Sign in with <strong>Facebook</strong></a>
                    <a href="{% url 'google_login' %}" class="btn btn-danger btn-lg btn-block social-button"><i class="fa fa-google-plus" aria-hidden="true"></i> Sign in with <strong>Google</strong></a>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include '_form.html' %}
                        {% if error_message %}
                            <div class="alert alert-danger form-group">{{ error_message }}</div>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right">Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="panel-footer">
                For Privacy Policy <a href="{% url 'home:privacy_policy' %}">click here</a>.
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>
{% endblock %}