{% extends '_layout.html' %}
{% block site_title %}Register{% endblock %}
{% block view_css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_management.css' %}">
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="col-md-12"><h2 class="form-header">Register new Account</h2></div>
            <div class="panel-body">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include '_form.html' %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right">Register</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="panel-footer">
                Already have an account? <a href="{% url 'users:login' %}">Click here</a> to log in.
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>

{% endblock %}