* {
    border-radius: 0 !important;
    font-family: 'Gabriela', serif;
}

body {
    background-color: #FFFFFF;
    background-image: url('../images/background-texture.png');
}

.navbar-brand {
    font-size: 30px;
    transition: color .5s ease-in .3s;
}

.navbar-brand:hover {
    color: #19B5FE !important;
}

.crystal-space-logo {
    font-family: 'Satisfy', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Playball', cursive;
}

.footer {
    background-color: #222;
    color: #9d9d9d;
    margin-top: 20px;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
}

.footer-fluid {
    position: static;
}

.footer ul {
    list-style-type: square;
}

.footer a {
    color: #9d9d9d;
}

.footer a:hover {
    color: #9d9d9d;
    font-weight: bold;
    text-decoration: none;
}

.footer-motto-list {
    list-style-type: square;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 80px;
}

.footer-motto-list > li {
    display: inline-block;
}

.motto-list-item {
    font-size: 14px;
}

.motto-list-item::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    background-color: #9d9d9d;
    top: 50%;
    transform: translateY(-50%);
}

.motto-list-item:first-child::before {
    content: none;
}

.footer-section {
    margin-top: 55px;
    border-left: 1px solid #9d9d9d;
}

.panel {
    box-shadow: 5px 5px 10px #ccc;
}

.content-container {
    position: relative;
    margin: -100px auto 0px auto;
    width: 100%;
    max-width: 1750px;
}

.border-right {
    border-right: 2px solid #f5f5f5;
}

.form-header {
    margin-bottom: 30px;
}

.errorlist {
    list-style-type: none;
    padding-left: 0;
}