{% extends '_layout.html' %}
{% block site_title %}Albums{% endblock %}

{% block view_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">
{% endblock %}

{% block albums_active %}active{% endblock %}

{% block content %}

{% load render_partial %}
{% render_partial 'home:home_slider' %}

<div class="content-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <h2>Your albums</h2>
                    <a href="{% url 'music:album_create' %}" class="btn btn-default btn-small pull-right" style="right: 0; top: 20px; position: absolute;">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Album
                    </a>
                    <hr>
                    <div class="row">
                        {% for album in album_list %}
                        <div class="col-md-3">
                            <a href="{% url 'music:album_update' album.id %}" class="btn btn-default btn-small pull-right" style="width: 37px;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <form action="{% url 'music:album_delete' album.id %}" method="POST" style="height: 30px;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-default btn-small pull-right">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </form>
                            <a href="{% url 'music:album_detail' pk=album.id %}" class="thumbnail">
                                <div class="hover-play-icon">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </div>
                                <img src="{{ album.album_logo.url }}" alt="{{ album.album_title }}">
                                <div class="caption">
                                    <h3>{{ album.album_title }}</h3>
                                    <small>by {{ album.artist }}</small>
                                </div>
                            </a>
                        </div>
                        {% empty %}
                        <h3 style="margin: 40px 0px; display: block; text-align: center;">Your albums collection is empty. Please add new album.</h3>
                        {% endfor %}

                    </div>
                </div>
            <div class="col-md-1">&nbsp;</div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_class_ext %}footer-fluid{% endblock %}