{% extends '_layout.html' %}
{% block site_title %}Albums{% endblock %}

{% block view_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">
{% endblock %}

{% block albums_active %}active{% endblock %}

{% block content %}

{% load render_partial %}
{% render_partial 'home:home_slider' %}

<div class="content-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <h2>{{ album.album_title }}</h2>
                    <a href="{% url 'music:song_create' album.pk %}" class="btn btn-default btn-small pull-right" style="right: 0; top: 20px; position: absolute;">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Song
                    </a>
                    <hr>
                    {% if album.song_set.count > 0 %}
                        <div class="player">
                            <img class="player-album-logo" src="{{  album.album_logo.url }}" alt="text" />
                            <div class="player-audio">
                                <h3 id="song-title" class="player-song-title">{{  album.song_set.first.song_title }}</h3>
                                <h4 id="song-info" class="player-song-info">{{  album.album_title }} by {{  album.artist }}</h4>
                                <img class="player-background" src="{% static 'images/player_background.jpg' %}" alt="">
                                <audio id="audio" src="{{ album.song_set.first.audio_file.url }}" controls></audio>
                            </div>
                        </div>
                    <hr>
                    <table class="table"> 
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Song title</th>
                                <th>Album</th>
                                <th>Artist</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="playlist">
                            {% for song in album.song_set.all %}
                            <tr data-player-track="{{ song.audio_file.url }}"
                                data-player-track-title="{{ song.song_title }}"
                                data-player-track-album="{{ song.album.album_title }}"
                                data-player-track-artist="{{ song.album.artist }}"
                                {% if forloop.first %}
                                class="active"
                                {% endif %}
                                >
                                <td>{{ forloop.counter }}</td>
                                <td>{{ song.song_title }}</td>
                                <td>{{ song.album.album_title }}</td>
                                <td>{{ song.album.artist }}</td>
                                <td>
                                    <a style="width: 34px; height: 34px;" class="btn btn-default" href="{% url 'music:song_update' song.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <form style="display: inline-block; width: 34px; height: 34px;" action="{% url 'music:song_delete' song.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="player">
                        <img class="player-album-logo" src="{{  album.album_logo.url }}" alt="text" />
                        <h3 style="flex-grow: 2; align-self: center; text-align: center;">This album is empty.</h3>
                    </div>
                    {% endif %}
                </div>
            <div class="col-md-1">&nbsp;</div>
        </div>
    </div>
</div>

{% endblock %}

{% block view_js %}
{% load static %}
<script src="{% static 'js/player.js' %}"></script>
{% endblock %}

{% block footer_class_ext %}footer-fluid{% endblock %}